// Configs for navbar and colors here
@import "colors";

@mixin center{
    justify-content: center;
    text-align: center;
}

html{
    scroll-behavior: smooth;
}

body{
margin: 0;
padding: 0;
background-color: $gray;
font-family: 'Inter', sans-serif;
font-weight: 350;
}

header{
    width: 100%;
    background-color: white;
    position: fixed;
    -webkit-box-shadow: 1px 0px 13px 0px rgba(189,189,189,1);
    -moz-box-shadow: 1px 0px 13px 0px rgba(189,189,189,1);
    box-shadow: 1px 0px 13px 0px rgba(189,189,189,1);
    z-index: 2;
}


.leftnav{
    a{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    color: $black;
    }
}

.logo{
    width: 45px;
}

.navbar{
    display: flex;
    position: relative;
    width: 95%;
    margin: auto;
    padding: 18px 0;
    justify-content: space-between;
    align-items: center;
    .menu{
        display: none;
    }
    ul{
        li{
            display: inline-block;
            list-style: none;
            margin: 0 15px;
            a{
                font-weight: bold;
                text-decoration: none;
                text-transform: uppercase;
                color: $bgcolor;
                transition: .2s;
                &:hover{
                    color: cadetblue;
                }
            }
        }
    }
}

@media only screen and (max-width: 768px) {
.navbar{
    width: 90%;
    .menu{
        display: inline-block;
        .icon.close{
            display: none;
        }
    }
        ul{
            li{
                display: none;
        }
    }
}
}



@media only screen and (max-width: 768px) {
    .navbar.responsive{
        flex-direction: column;
        align-items: flex-end;
        .menu{
            .icon{
            display: none;
            }
            .icon.close{
                padding-top: 0.7rem;
                display: inline-block;
            }
        }
        .logo,.nm{
        display: none;
        }
    }
    
    .navbar.responsive{
        ul{
            li{
                margin: 0;
                text-align: right;
                padding: 12px;
                display: block;
            }
        }
    }
}

// All parts related to body below here
.body{
    padding: 4.6rem 0 8px 0;
}

.mbody{
    margin: auto;
    width: 24px;
    height: 40px;
    border: 2px solid black;
    border-radius: 15px;
    .mscroll{
        z-index: 1;
        width: 8px;
        margin: 6px auto;
        position: relative;
        height: 7px;
        background-color: black;
        border-radius: 90%;
        animation:mouse 1.5s infinite;
    }
}

@media only screen and (max-width: 768px) {
    .mbody{
        border-radius: 4px;
        .mscroll{
        margin: 28px auto;
        animation: mmob 1.5s infinite;
        }
    }
    @keyframes mmob{
    0%  {opacity: 1;}
    40% {
        opacity: 0;
        margin: 6px auto;
    }
    100% {opacity: 0;}
    }
}

@keyframes mouse{
    0%  {opacity: 1;}
    40% {
        opacity: 0;
        margin: 28px auto;
    }
    100% {opacity: 0;}
}

.intro{
    background-color: cadetblue;
    padding: 4rem 4rem 1rem;
    display: flex;
    @include center;
    #events{
        span{
            font-size: 46px;
            font-weight: bold;
        }
        p{
            padding: 1rem 0 0.5rem;
        }
    }
}

@media only screen and (max-width: 768px) {
    .intro{
    padding: 1.5rem 1.5rem 1rem;
    #events{
        span{
            font-size: 34px;
        }
    }
    }
}

.about{
    padding-top: 2rem;
    .grid__header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    hr{
        border-radius: 12px;
        width: 1.5rem;
        height: 4px;
        color: cadetblue;
        background-color: cadetblue;
    }
    .header2{
        font-size: 20px;
        font-weight: bold;
        padding-bottom: 0.25rem;
    }
    .text2{
        padding-top: 0.25rem;
    }
    }
    .grid__aboutcont{
        display: flex;
        padding: 2.5rem 0.5rem 1rem 0.5rem;
        justify-content: space-between;
    .grid__about{
        width: 50%;
        text-align: left;
    }
    .grid__skills{
        display: contents;
        font-weight: 500;
    }
}
}

@media only screen and (max-width: 768px) {
    .about{
        .grid__header{
            .text2{
            text-align: center;
            padding: 0 1rem 0 1rem;
            }
        }
        .grid__aboutcont{
            flex-direction: column;
            justify-content: center;
            .grid__about{
                width: 100%;
                text-align: center;
            }
            .grid__skills{
                align-self: center;
                padding-top: 1rem;
            }
        }
    }
}