@import "colors";

html{
    scroll-behavior: smooth;
}

body{
margin: 0;
padding: 0;
background-color: $gray;
}

.header{
    width: 100%;
    background-color: white;
    position: fixed;
    -webkit-box-shadow: 1px 0px 13px 0px rgba(189,189,189,1);
    -moz-box-shadow: 1px 0px 13px 0px rgba(189,189,189,1);
    box-shadow: 1px 0px 13px 0px rgba(189,189,189,1);
}

.logo{
    width: 50px;
    cursor: pointer;
}

.navbar{
    display: flex;
    position: relative;
    width: 85%;
    margin: auto;
    padding: 18px 0;
    justify-content: space-between;
    align-items: center;
    .menu{
        display: none;
    }
    ul{
        li{
            display: inline-block;
            list-style: none;
            margin: 0 15px;
            a{
                font-weight: bold;
                text-decoration: none;
                text-transform: uppercase;
                color: $bgcolor;
                transition: .3s;
                &:hover{
                    color: $gray;
                }
            }
        }
    }
}

.body{
    padding: 96px 9px 8px 9px;
}

@media only screen and (max-width: 768px) {
.navbar{
    .menu{
        display: inline-block;
        .icon.close{
            display: none;
        }
    }
        ul{
            li{
                display: none;
        }
    }
}
}

.mbody{
    width: 24px;
    height: 40px;
    border: 1px solid black;
    border-radius: 15px;
    .mscroll{
        z-index: -1;
        width: 7px;
        margin: 6px 8.24px;
        position: relative;
        height: 7px;
        background-color: black;
        border-radius: 100%;
        animation:mouse 1.7s infinite;
    }
}

@keyframes mouse{
    0%  {opacity: 1;}
    40% {
        opacity: 0;
        margin: 28px 8.24px;
    }
    100% {opacity: 0;}
}


@media only screen and (max-width: 768px) {
    .navbar.responsive{
        flex-direction: column;
        align-items: flex-end;
        .menu{
            .icon{
            display: none;
            }
            .icon.close{
                padding-top: 0.7rem;
                display: inline-block;
            }
        }
        .logo{
        display: none;
        }
    }
    
    .navbar.responsive{
        ul{
            li{
                margin: 0;
                text-align: right;
                padding: 12px;
                display: block;
            }
        }
    }
}